body {
  background-color: hsl(30, 38%, 92%);
}

.outer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 280px;
  height: 420px;
  border-radius: 16px;
}


.texts {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 300px;
  height: 420px;
  padding-left: 32px;
  border-radius: 16px;
}

.preview {
 flex: 40px; 
 padding-top: 20px;
 font-family: 'Montserrat',Arial, Helvetica, sans-serif;
 font-size: 14px;
 color: hsl(228, 12%, 48%);
}

.name {
  flex: 96px;
  width: 200px;
  font-weight: 700;
  font-family: 'Fraunces', Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 32px;
  color: hsl(212, 21%, 14%);
}

.description {
  flex: 100px;
  width: 224px;
  font-size: 14px;
  font-family: 'Montserrat',Arial, Helvetica, sans-serif;
  padding-top: 20px;
  color: hsl(228, 12%, 48%);
}

.prices {
  display: flex;
  flex: 60px;
  font-family: 'Fraunces', Arial, Helvetica, sans-serif;
  justify-content: center;
}

.discounted {
  flex: 1;
  font-size: 32px;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
  align-items: center;
}

.original {
  flex: 1;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
}

button:hover {
  background-color: #1e4034;
}

button {
  flex: 50px;
  height: 50px;
  width: 250px;
  margin: 20px;
  font-family: 'Montserrat',Arial, Helvetica, sans-serif;
  background-color: hsl(158, 36%, 37%);
  color: white;
  border-radius: 8px;
  border: none;
}

.icon {
  margin-right: 10px;
  color: white;
}